
/***** Map header ****/

#map_maplinks {
    display: none
}

/**** Map layout ****/

.mapSwtich {
    display:none
}

.olMap .OsgendeRouteMapPermalink {
    display:none
}

.olMap .OsgendeRouteMapMousePosition {
    display:none
}

.olMap .olControlPanZoomBar {
    margin-top: 25px;
    margin-left: 0
}

.olMap .olControlScaleLine {
    bottom: 4.2em;
    font-size: 0.6em
}

.olMap .olControlZoom {
    top: 50px;
    left: 4px;
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: none
}

#routeselector {
display:none
}

.olMap .olControlScaleLine {
    font-size: 0.6em
}

#attribution {
    position:absolute;
    right:0px;
    font-size: 0.6em;
    background-color: rgba(255,255,255,0.75);
    color:black;
    padding:1px
}

#attribution .additional {
    display:none
}

#attribution :link, #attribution :visited {
    color: #2C64AC
}


@media (orientation:portrait) {
    .olMap .olControlScaleLine {
        bottom: 4.1em;
        font-size: 0.6em
    }

    #attribution {
        bottom: 4.1em
    }
}


@media (orientation:landscape) {
    .olMap .olControlScaleLine {
       bottom: 0px;
       left: 40px
    }

    #attribution {
        bottom: 2px
    }
}

/*********************** language chooser ****************************/

#langchooser {
    position : absolute;
    top : 2px;
    right : 2px;
}

.dropdown ul {
    right : 0;
    max-height: 10em
}

.dropdown {
    font-size: 0.8em;
}

.dropdown .ddtitle {
    padding: 0.2em;
    font-weight: normal;
}

/******* Map sidebar ******/

@media (orientation:portrait) {
    .sidebar {
        left: 2.5%;
        width: 95%;
    }

    #sidebar {
        top: 70px;
        bottom: 40px
    }

    #sidebar-header {
        top: 35px;
    }
}

@media (orientation:landscape) {
    .sidebar {
        left: 10%;
        width: 80%;
    }
    #sidebar {
        top : 51px;
        bottom: 5px
    }

    #sidebar-header {
        top: 15px;
    }
}

/**** Docpage styles *****/

.docpage {
    font-size: 0.9em
}

@media (orientation:portrait) {
    #menubar {
        width : 95%;
        margin-left : 2.5%;
        margin-top: 50px;
    }

    .docpage {
        width : 95%;
        margin-left : 2.5%;
    }
}

@media (orientation:landscape) {
    #menubar {
        margin : 5px;
        position: fixed;
        width : 12em;
        left : 0;
        top: 40px;
    }

    .docpage {
        -webkit-text-size-adjust: none;
        margin-left: 14em;
        max-width: 50em; 
        padding-left: 1em;
        margin-top:50px;
        margin-bottom:3em;
        margin-right:6px
    }
}

#navigation {
    top: 40px;
    left: 10px;
    position: absolute
}

