{% load i18n %}
{% load assets %}
{% load markup %}
{% load markup_filter %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% trans pageinfo.mapdescription %}" />
    <meta name="keywords" lang="en" content="Waymarked Trails, OpenStreetMap, hiking, skating, cycling, mtb" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/{{ pageinfo.iconimg }}" />
    <title>route.is</title>

    {% assets filters="yui_css", output="css/site.%(version)s.css", "css/normalize.css", "css/baselayout.css" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/desktop-ie.css" /><![endif]-->
    <!--[if (gt IE 8)|(!IE)]-->
    {% assets filters="yui_css", output="css/small.%(version)s.css", "css/small.css"%}
	<link rel="stylesheet" type="text/css" media="screen and (max-width:720px)" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets filters="yui_css", output="css/desktop.%(version)s.css", "css/desktop.css"%}
	<link rel="stylesheet" type="text/css" media="screen and (min-width:721px), print" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!--![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ pageinfo.cssfile }}" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/contrib/jquery.mobile-1.2.0.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/contrib/jqm-icon-pack-4b216e9.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/contrib/openlayers/css/default/style.css" />

</head>

<body{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} {% block bodyattr %}{% endblock %}>

    {% block background %}{% endblock %}
        
        <div id="map_footer" class="header footline">
            {% include "snippets/searchbox.html" %}
            <div id="map_right_footer" class="absright">
                <ul class="footer_menu">
                    <li class="f_menu_about">
                        <a href="{% url helppage 'about' %}">{% trans "About this map" %}</a>
                    </li>
                    <li class="f_menu_update">
                        {% trans "Last update" %}: {{updatetime}}
                    </li>
                    <li class="f_menu_info">
                        {% trans "Background map © [Kartverket](http://kartverket.no/), route info © [OpenStreetMap under ODbL](http://www.openstreetmap.org/copyright)"|markdown|filterpara %}
                    </li>
                </ul>
          
            </div>
        </div>    

    {% block content %}{% endblock %}
    {% block js %}{% endblock %}
</body>
</html>

