{% extends "base.html" %}
{% load i18n %}
{% load markup %}
{% load markup_filter %}
{% load assets %}

{% block js %}

    <script type="text/javascript" src="{{ MEDIA_URL }}/contrib/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/contrib/slider-min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/contrib/noty-4d8bc69.js"></script>

	{% if ismobile %}
        <script type="text/javascript" src="{{ MEDIA_URL }}/contrib/modernizr-120227.js"></script>
    	<script type="text/javascript" src="{{ MEDIA_URL }}/contrib/openlayers-mobile-130424.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/contrib/facybox.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/contrib/facybox.css" />
	{% else %}
		<script type="text/javascript" src="{{ MEDIA_URL }}/contrib/openlayers-130424.js"></script>
	{% endif %}
    
    {% if show_elevation_profile %}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}/contrib/flot-flot-f0e78fc.js"></script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}/contrib/excanvas.min.js"></script><![endif]-->
    {% endif %}

    <!-- internal scripts -->
    <script type="text/javascript">
        var minlat = {{ minlat }};
        var maxlat = {{ maxlat }};
        var minlon = {{ minlon }};
        var maxlon = {{ maxlon }};
        var firstVisit = {{ firstVisit }};
        var basemapurl = 'http://{{ request.get_host }}{{ request.path }}';
        var routeinfo_baseurl =  '{% url route:list %}';
        var routesearchurl = '{% url search:route '' %}';
        var placesearchurl = '{% url search:place '' %}';
        var areasearchurl = '{% url search:area '' %}';
        var showroute = {{ showroute }};
        var showsearch = '{{ showsearch }}';
        var showarea = '{{ showarea }}';
        var baseopacity = {{ baseopacity }};
        var routeopacity = {{ routeopacity }};
        var hillopacity = {{ hillopacity }};
        var routemap_mediaurl = '{{ MEDIA_URL }}';
		
		OpenLayers.ImgPath = "{{ MEDIA_URL }}/contrib/openlayers/img/";
    </script>

    {% if show_elevation_profile %}
        {% assets filters="yui_js", output="js/baseapp_ele.%(version)s.js", "js/Map.js", "js/Sidebar.js", "js/Routes.js", "js/Search.js" "js/ElevationProfile.js" %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% else %}
        {% assets filters="yui_js", output="js/baseapp.%(version)s.js", "js/Map.js", "js/Sidebar.js", "js/Routes.js", "js/Search.js" %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endif %}
{% endblock %}

{% block bodyattr %}
    class="mapbody" onload="initMap('{{ tileurl }}', {% if ismobile %}true{% else %}false{% endif %});"
{% endblock %}

{% block background %}
    <div id="map" tabindex="0">{% trans "JavaScript needs to be activated to use this service." %}</div>
    
    <div id="map_header" class="header headline">
        <h1><a href="/help/about" title="route.is" class="logo"></a></h1>
        {% include "snippets/langchooser.html"%}
        {% include "snippets/headerlogo.html"%}
    </div>
{% endblock %}

{% block header-content %}
      {% include "snippets/update.html"%}
{% endblock %}

{% block footer-content %}

    <form id="searchform" accept-charset="UTF-8" action="#" onsubmit="return searchTerm(this.searchterm.value)">
        <label for="searchterminput">{% trans "Search" %}:</label>
        <input type="text" size="30" name="searchterm" id="searchterminput" tabindex="1" />
        <input class="ui-btn ui-btn-up-a ui-corner-all" type="submit" name="searchok" value="{% trans "Go" %}" />
    </form>
    <ul id="prefbar" class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal ui-mini">
      <li><a id="tb-pref" class="toolbaritem ui-btn ui-btn-up-a ui-corner-left ui-btn-icon-notext button-pref" href="#pref"><span class="ui-btn-inner ui-corner-all"><span class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></a></li> 
      
      {% if ismobile %}
      <li><a id="tb-locate" class="toolbaritem ui-btn ui-btn-up-a ui-btn-icon-notext button-locate" href="#"><span class="ui-btn-inner ui-corner-all"><span class="ui-icon ui-icon-flag ui-icon-shadow"></span></span></a></li>
      {% endif %}
      
      <li><a id="tb-about" class="toolbaritem ui-btn ui-btn-up-a ui-btn-icon-notext ui-corner-right" href="{% url helppage 'about' %}"><span class="ui-btn-inner ui-corner-all"><span class="ui-icon ui-icon-info ui-icon-shadow"></span></span></a></li>
    </ul>
    <ul id="toolbar" class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
      <li><a id="tb-search" class="toolbaritem ui-btn ui-btn-up-a ui-mini ui-corner-all" href="#"><span class="ui-btn-inner ui-corner-all">{% trans "Search" %}</span></a></li>
      <li><a id="tb-routes" class="toolbaritem ui-btn ui-btn-up-a ui-mini ui-corner-all" href="#routes"><span class="ui-btn-inner ui-corner-all">{% trans "Routes" %}</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    {% url simplemap as baseurl %}


{% if ismobile %}
    <div id="geolocationErrorMsg">{% trans "Unable to get your location!" %}</div>
    <div id="dataWarning">
          <p>{% trans "Vi kan verken garantere at kartet er presist eller komplett. Ta med deg et skikkelig papirkart, skikkelig turutstyr og husk sunn fornuft før du går på tur. Naturen kan være like hensynsløs som den er vakker. Vi lenker til andre nettsteder. Vi har ingen direkte innvirkning på disse nettstedene og kan ikke stå til ansvar for innholdet på de." %}
          </p>
          
          <p id="buttonArea">
            <a class="button" href="javascript:void(0)" onClick="closeDataWarning();">{% trans "Try the map! " %} </a>
            <span id="trymaplink">
                {% trans "Do not remind me: " %} <input id="dataWarningCheckbox" type="checkbox" checked onClick="setDataWarningFutureVisibility();">    
            </span>
          </p>
    </div>
{% endif %}

    {% include "snippets/sidebar.html" %}
{% endblock %}
